{
  "name": "{{name}}",
  "version": "0.1.0",
  "type": "module",
  "main": "lib/index.js",
  "files": ["lib", "cordis.patch.yml"],
  "dsh": { "bundle": { "patch": "./cordis.patch.yml" } },
  "scripts": {
    "build": "tsc -p tsconfig.json"
  },
  "dependencies": {
    "@deepseek-ai/dsh-tools": "0.1.0-rc.8"
  },
  "devDependencies": {
    "@deepseek-ai/cordis": "4.0.1",
    "typescript": "^5.9.3"
  }
}
